<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ninja.png" />
        <h1 class="app-title">
          DC Metro Ninja
        </h1>
        <h2 class="app-subtitle">
          Crowdsourced DC Metro status information
        </h2>
      </div>
      <ul>
        <li>No more guessing what "minor delays" means.</li>
        <li>Get realtime updates from fellow DC Metro riders.</li>
        <li>No need to refresh, the app updates on its own.</li>
      </ul>
      <div class="collection lines">
        <a href="{{pathFor 'line.show' line='Red Line - Eastbound'}}" class="collection-item line-selector red-text">Red Line - Eastbound (to Glenmont)</a>
        <a href="{{pathFor 'line.show' line='Red Line - Westbound'}}" class="collection-item line-selector red-text">Red Line - Westbound (to Shady Grove)</a>
        <a href="{{pathFor 'line.show' line='Orange Line - Eastbound'}}" class="collection-item line-selector orange-text">Orange Line - Eastbound (to New Carrolton))</a>
        <a href="{{pathFor 'line.show' line='Orange Line - Westbound'}}" class="collection-item line-selector orange-text">Orange Line - Westbound (to Vienna)</a>
        <a href="{{pathFor 'line.show' line='Blue Line - Northeastbound'}}" class="collection-item line-selector blue-text">Blue Line - Northeastbound (to Largo Town Center)</a>
        <a href="{{pathFor 'line.show' line='Blue Line - Southwestbound'}}" class="collection-item line-selector blue-text">Blue Line - Southwestbound (to Franconia-Springfield)</a>
        <a href="{{pathFor 'line.show' line='Green Line - Northbound'}}" class="collection-item line-selector green-text">Green Line - Northbound (to Greenbelt)</a>
        <a href="{{pathFor 'line.show' line='Green Line - Southbound'}}" class="collection-item line-selector green-text">Green Line - Southbound (to Branch Ave)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line - Northbound'}}" class="collection-item line-selector green-text">Yellow Line - Northbound (to Fort Totten)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line - Southbound'}}" class="collection-item line-selector green-text">Yellow Line - Southbound (to Huntington)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line Rush Hour Virginia - Northbound'}}" class="collection-item line-selector green-text">Yellow Line Rush Hour Virginia Extension - Northbound (to King St-Old Town)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line Rush Hour Virginia - Southbound'}}" class="collection-item line-selector green-text">Yellow Line Rush Hour Virginia Extension - Southbound (to Franconia-Springfield)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line Rush Hour Maryland - Northbound'}}" class="collection-item line-selector green-text">Yellow Line Rush Hour Maryland Extension - Northbound (to Greenbelt)</a>
        <a href="{{pathFor 'line.show' line='Yellow Line Rush Hour Maryland - Southbound'}}" class="collection-item line-selector green-text">Yellow Line Rush Hour Maryland Extension - Southbound (to Fort Totten)</a>
        <a href="{{pathFor 'line.show' line='Silver Line - Eastbound'}}" class="collection-item line-selector green-text">Silver Line - Eastbound (to Largo Town Center)</a>
        <a href="{{pathFor 'line.show' line='Silver Line - Westbound'}}" class="collection-item line-selector green-text">Silver Line - Westbound (to Wiehle-Reston East)</a>

      </div>
      <div class="share-buttons">
        <div class="fb-share-button" data-href="http://dcmetro.ninja" data-layout="button_count"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dcmetro.ninja" data-text="Check out DC Metro Ninja" data-via="dcmetro_ninja" data-hashtags="dcmetro">Tweet</a>
      </div>
      <div class="credits">
        Based on <a href="http://mbta.ninja">MBTA Ninja</a>, which was created by <a target="_blank" href="https://twitter.com/dave_lago">David Lago</a>, <a href="https://twitter.com/geoffreylitt" target="_blank">Geoffrey Litt</a>, and <a href="https://twitter.com/radhika1990" target="_blank">Radhika Malik</a> for the Code Across Boston 2015 hackathon. To request more line coverage or new features for DC Metro Ninja, <a href="http://twitter.com/home?status=@dcmetro_ninja " target="_blank">tweet at us</a> or <a target="_blank" href="https://github.com/paktor132/dcmetro-ninja">contribute on GitHub</a>.
      </div>
    </div>
  </div>
</template>
